*~
*\#
config.php
!*/README.md
data/*
!data/.htaccess
!data/.version
workspace/*
plugins/*
public/*.min.*

*.disabled*

notes/*
restore.php
.idea/
/components/editor/.sass-cache/
/theme/.sass-cache/
/fonts/file-icons/.sass-cache/
